<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>

</head> -->
<!-- <header> -->
  <!--Navbar-->
  <!-- <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
      <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">
              <strong>microReviews</strong>
          </a>
          <div class="collapse navbar-collapse" id="navbarNav1">
              <ul class="navbar-nav mr-auto"> -->
                  <!-- <li class="nav-item active">
                      <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                  </li> -->
                  <!-- <li class="nav-item">
                      <a [routerLink]="['/browse']" class="nav-link">Browse</a>
                  </li>
                  <li class="nav-item">
                      <a [routerLink]="['/submit']" class="nav-link">Submit a review</a>
                  </li>
                  <li class="nav-item">
                      <a [routerLink]="['/']" fragment="about" class="nav-link">About</a>
                  </li> -->
                  <!-- <li *ngIf="isLoggedIn" class="nav-item">
                      <a [routerLink]="['#about']"  class="nav-link">About</a>
                  </li> -->
              <!-- </ul>

          </div>
      </div>
  </nav> -->
  <!--/.Navbar-->
<!-- </header> -->

    <div myPreloader class="preloaderbar hide"><span class="bar"></span></div>
    <div id="app-main" class="app-main full-height"
       [ngClass]="{'fixed-header' : AppConfig.fixedHeader,
                   'nav-collapsed' : AppConfig.navCollapsed,
                   'nav-behind' : AppConfig.navBehind,
                   'layout-boxed' : AppConfig.layoutBoxed,
                   'theme-gray' : AppConfig.theme == 'gray',
                   'theme-dark' : AppConfig.theme == 'dark',
                   'sidebar-sm' : AppConfig.sidebarWidth == 'small',
                   'sidebar-lg' : AppConfig.sidebarWidth == 'large'}">
      <router-outlet></router-outlet>
    </div>
