/*md-grid-tile {
  background: lightblue;
}*/

/*.mat-grid-list {
  min-height: ;
}*/

.product-card {
  height: 100%;
  background: rgba(255, 255, 255, 0.80);
  margin: 5px 10px;
  padding: 0px;
}

.mat-card-image {
  width: 100%;
  margin: 0px -8px 16px 0px;
}

.mat-card-content {
  padding: 20px;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
