<h2>Browse for Products</h2>
<br>
<div class="form-group form-inline waves-effect waves-light">
  <input class="form-control" id="product-search" type="text" placeholder="Search" [(ngModel)]="pattern">
</div>
<!-- If there as an error let the user know on the top of the page -->
<div class=" error" *ngIf="errorMessage"> {{ errorMessage }} </div>

<div class = "product-list">
  <md-grid-list cols="4" rowHeight="1:2">
    <md-grid-tile *ngFor ="let oneProduct of products | prodSearch:'prodName':pattern;">
      <md-card class="product-card">
        <md-card-header>
          <div md-card-avatar class="brand-logo"></div>
          <md-card-title>
            <h3> {{ oneProduct.prodName }} </h3>
          </md-card-title>
          <md-card-subtitle>
            <h4><i> {{ oneProduct.prodBrand }} </i> </h4>
            <h4><i> {{ oneProduct.prodModel }} </i> </h4>
          </md-card-subtitle>
        </md-card-header>
        <img md-card-image [src]="oneProduct.prodImg">
        <md-card-content>
          <h4><i> {{ oneProduct.prodUPC }} </i> </h4>
          <h4><i> {{ oneProduct.prodMfg }} </i> </h4>
          <h4><i> {{ oneProduct.prodParts }} </i> </h4>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>


  </div>

  
